body, html {
    height: 100%;
    width: 100%;
    position: absolute;
    background-attachment: fixed;
    
  }
.background { 
    background-image: url("/static/img/background.jpg"); 
      /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:absolute;
    background-attachment: fixed;
    
}

.text-center{
    text-align: center!important;
}

.exercise-pic{
    width: 150px;
}




.formContainer {
    position: relative;
    margin: 8% auto;
    min-height: 60%;
    width: 50%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
    background: white;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    border-radius: 8px;
}
.myaccount-form{
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
} 

.register-form{
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
} 

.signin-form{
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}