body, html {
    background-image: url("/static/img/background.jpg"); 
    background-attachment: fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    position: absolute;    
  }

/* Modify the background color */
          
.navbar-custom {
    background-color: FB5607;
}

/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: D8DBE2;
}

.text-center{
    text-align: center!important;
}

.exercise-pic{
    width: 150px;
}

.formContainer {
    position: relative;
    margin: 8% auto;
    min-height: 60%;
    width: 50%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
    background: white;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    border-radius: 8px;
}
.myaccount-form{
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
} 

.register-form{
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
} 

.signin-form{
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}