{% extends 'base.html' %}
{% block title %}Let me plan a workout for you!{% endblock %}

{% block body %}
  <h1>What's our workout today?</h1>
  
  <h2>Log In</h2>

  <form action="/login" method = "POST" id="login-form">
    <p>
      Email <input id="email" type="text" name="email">
    </p>

    <p>
      Password <input id="password" type="text" name="password">
    </p>

    <p>
      <button id="login-button" type="submit">log in</button>
    </p>
  </form>

  <form action="/register_user">
    <button type="submit" class="submit">Register</button>
  </form>
{% endblock %}

{% block javascript %}
    <script src="/static/js/logged_in.js"></script>  
{% endblock %}