{% extends 'base.html' %}

{% block title %}  PyWorkout {% endblock %}

{% block head %}{% endblock %}

<link rel="stylesheet" href="/static/css/my_account.css">

{% block body %}

<div class="myaccount-form formContainer">

    <div class="pretty-text">
        My name:{{ firstname }} {{ lastname }}<br>
        My email: {{ email }}<br>
    </div>

    <h2>my workout history:</h2>

    <ul class="#">

    {% for workout_info in workout_history %}    
    <li>{{ workout_info['date'] }}</li>
    <li>{{ workout_info['main_muscle'] }}</li>

        {% for workout_plan_exercise in workout_info['exercises'] %}
            <li>{{ workout_plan_exercise.exercises.exercise_name }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    
</div>

{% endblock %}